<!DOCTYPE html>
<html>
<head>
	<title>Resume Design</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="resumer/style.css">
</head>
<body>

	<main>
		<div class="left-side">
			<br/>
			<div class="content">
				<h3>Endereço</h3>
				<p>Rua Geraldo Crespo, 20 - Jardim D'Abril São Paulo - SP</p>
			</div>
			<br/>
			<img src="image/user.jpg" width="100%%" class="profile-img"/>
			<div class="content">
				<h2>CONTACT</h2>
				<h4>Phone</h4>
				<p>+232-3434-2334</p>
				<h4>Email</h4>
				<p>demo@123gmail.com</p>
				<h4>Website</h4>
				<p>www.m-softtech.in</p>
			</div>

			<div class="content">
				<h2>REFERENCE</h2>
				<h4>Abhinav Sukla</h4>
				<p>Director | M-SoftTech<br/>
				T: +3334-3484-3223</p>
			</div>

			<div class="content">
				<h2>HOBBIES</h2>
				<ul>
					<li><img src="image/tr.png"><span>Travel</span></li>
					<li><img src="image/mu.png"><span>Music</span></li>
					<li><img src="image/wr.png"><span>Writing</span></li>
					<li><img src="image/ch.png"><span>Chess</span></li>
				</ul>
			</div>
			<br/><br/>
		</div>
		<div class="right-side">
			<div class="rightside-content">
				<h1>VICTOR <br/><strong>RAMOS</strong></h1>
				<p class="para">FULL STACK</p>
				<br/><br/>
				<h2>APRESENTAÇÃO</h2>
				<p class="para1">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy </p>
				<br/>
				<h2>FORMAÇÃO</h2>
				<h4 class="sub-heading">SENIOUR FRONTEND DEVELOPER</h4>
				<p class="para1">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry</p>

				<h4 class="sub-heading">SENIOUR FRONTEND DEVELOPER</h4>
				<p class="para1">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry</p>
				<br/>

				<h2>EXPERIENCE</h2>
				<h4 class="sub-heading">SENIOUR FRONTEND DEVELOPER</h4>
				<p class="para2"><span>Present</span> Frontend Developer / Noida</p>
				<p class="para1">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting</p>

				<h4 class="sub-heading"> FRONTEND DEVELOPER</h4>
				<p class="para2"><span>2018-2022</span> Frontend Developer / New Delhi</p>
				<p class="para1">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting</p>

				<br/>

				<h2>EXPERTISE</h2>
				{% comment %} <ul class="ex">
					<li><img src="image/e1.png"></li>
					<li><img src="image/e2.png"></li>
					<li><img src="image/e3.png"></li>
					<li><img src="image/e4.png"></li>
				</ul> {% endcomment %}
			</div>
		</div>

		<div class="clearfix"></div>
	</main>
	<button id="downloadPDF">Download PDF</button>
  	<script src="resumer/script.js"></script>
</body>
</html>